extends src/layout/default.jade
block content
  section.services.pa4.pa4-m.pa6-l.relative.bg-near-white
    .container.cf.mh-auto.relative.mb4.black-90
      h2.mb2.mb4-l.f2.f-headline-l.lh-solid.tracked-tight.tc.tl-l.foo Advertising Media
      p.f3-l.measure-wide.foo Dengan pengalaman Le­bih dari 10 ta­hun kami membantu klien kami untuk menyediakan jasa pem­bu­at­an me­dia adve­rti­sing seperti Ne­o­nbox, Hu­ruf Tim­bul, Plang toko, Mar­ka Penunjuk, Pylon, Kon­struk­si, Ban­ner, Run­ni­ng Te­xt, Bi­ll­bo­a­rd hing­ga Cu­stom Order un­tuk me­me­nu­hi ke­bu­tuh­an me­dia adve­rti­sing anda.
    .container.cf.mh-auto.relative.mb4
      a(href="#").pa1.fl.dib.w-50.w-50-ns.link.black.foo.hide-child
        .FlexEmbed
          .FlexEmbed-ratio.cover.bg-neon
          .FlexEmbed-content.tc
            img(href="")
            .dn.dt-ns.thumbContent.child.absolute.w-100.h-100.bg-white-90.t0
              .dtc.v-mid
                h3.f4.ttu.orange Tetest
                p ketkektekt
      a(href="#").pa1.fl.dib.w-50.w-50-ns.link.black.foo.hide-child
        .FlexEmbed
          .FlexEmbed-ratio.bg.cover.bg-neon
          .FlexEmbed-content.tc
            img(href="")
            .dn.dt-ns.thumbContent.child.absolute.w-100.h-100.bg-white-90.t0
              .dtc.v-mid
                h3.f4.ttu.orange Tetest
                p ketkektekt
      a(href="#").pa1.fl.dib.w-50.w-50-ns.link.black.foo.hide-child
        .FlexEmbed
          .FlexEmbed-ratio.cover.bg-neon
          .FlexEmbed-content.tc
            img(href="")
            .dn.dt-ns.thumbContent.child.absolute.w-100.h-100.bg-white-90.t0
              .dtc.v-mid
                h3.f4.ttu.orange Tetest
                p ketkektekt
      a(href="#").pa1.fl.dib.w-50.w-50-ns.link.black.foo.hide-child
        .FlexEmbed
          .FlexEmbed-ratio.bg.cover.bg-neon
          .FlexEmbed-content.tc
            img(href="")
            .dn.dt-ns.thumbContent.child.absolute.w-100.h-100.bg-white-90.t0
              .dtc.v-mid
                h3.f4.ttu.orange Tetest
                p ketkektekt
    .container.cf.mh-auto.relative.foo
      .dt.w-100
        .dtc.tl
          a(href="").dib.pv3.ph5.ttu.link.black.bg-orange.b Previous
        .dtc.tr
          a(href="").dib.pv3.ph5.ttu.link.black.bg-orange.b Next
  
    
