extends src/layout/default.jade
block content
  section.services.pa4.pa4-m.pa6-l.relative.bg-near-white
    .container.cf.mh-auto.relative.mb4.mb5-l.black-90
      h2.mb2.mb4-l.f2.f-headline-l.lh-solid.tracked-tight.tc.tl-l.foo Advertising Media
      p.f5-l.ml7-l.measure-wide.lh-large.foo Dengan pengalaman Le­bih dari 10 ta­hun kami membantu klien kami untuk menyediakan jasa pem­bu­at­an me­dia adve­rti­sing seperti Ne­o­nbox, Hu­ruf Tim­bul, Plang toko, Mar­ka Penunjuk, Pylon, Kon­struk­si, Ban­ner, Run­ni­ng Te­xt, Bi­ll­bo­a­rd hing­ga Cu­stom Order un­tuk me­me­nu­hi ke­bu­tuh­an me­dia adve­rti­sing anda.
    .container.cf.mh-auto.relative.mb4(data-masonry='{ "itemSelector": ".fl", "stamp": ".stamp" }')
      .dn.dib-l.stamp.w-50-l.absolute.r0
        .FlexEmbed
          .FlexEmbed-ratio.FlexEmbed-ratio--16by9
      
      
      .pa1.fl.dib.w-50.w-50-ns.link.black.hide-child.overflow-hidden
        .relative.foo
          a(href="#").FlexEmbed.img-fill.ml5-l.relative.hov-slide
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.cover
            .FlexEmbed-content.tc
              img(src="img/kitchen.jpg")
          a(href="#").dn.dib-l.absolute.w-60.z-2.mb4.ml0.b0.hov-slide.link
            h3.f1.ttc.lh-solid Modern Kithcen Set
            p ketkektekt ddede
            
      .pa1.fl.dib.w-50.w-50-ns.link.black.hide-child.overflow-hidden
        .relative.foo
          a(href="#").FlexEmbed.img-fill.ml5-l.relative.hov-slide
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.cover
            .FlexEmbed-content.tc
              img(src="img/kitchen.jpg")
          a(href="#").dn.dib-l.absolute.w-60.z-2.mb4.ml0.b0.hov-slide.link
            h3.f1.ttc.lh-solid Modern Kithcen Set
            p ketkektekt ddede
      
      .pa1.fl.dib.w-50.w-50-ns.link.black.hide-child.overflow-hidden
        .relative.foo
          a(href="#").FlexEmbed.img-fill.ml5-l.relative.hov-slide
            .FlexEmbed-ratio.FlexEmbed-ratio--4by3.cover
            .FlexEmbed-content.tc
              img(src="img/kitchen.jpg")
          a(href="#").dn.dib-l.absolute.w-60.z-2.mb4.ml0.b0.hov-slide.link
            h3.f1.ttc.lh-solid Modern Kithcen Set
            p ketkektekt ddede
      
      
    .container.cf.mh-auto.relative.foo
      .dt.w-100
        .dtc.tl
          a(href="").dib.pv3.ph5.ttu.link.white.bg-black.b Previous
        .dtc.tr
          a(href="").dib.pv3.ph5.ttu.link.white.bg-black.b Next
  
    
