extends src/layout/default.jade
block content
  article.services
    .container.mh-auto.ph4.ph5-l.pt4.pt6-l.tc.tl-l
      h2.f2.f-headline-l.lh-solid.tracked-tight.mb2.mb4-l Advertising Media
      .measure-wide.f5-l.lh-large.mh-auto.ml7-l.tl
        p Dengan pengalaman Le­bih dari 10 ta­hun kami membantu klien kami untuk menyediakan jasa pem­bu­at­an me­dia adve­rti­sing seperti Ne­o­nbox, Hu­ruf Tim­bul, Plang toko, Mar­ka Penunjuk, Pylon, Kon­struk­si, Ban­ner, Run­ni­ng Te­xt, Bi­ll­bo­a­rd hing­ga Cu­stom Order un­tuk me­me­nu­hi ke­bu­tuh­an me­dia adve­rti­sing anda.
  
  section
    .container.mh-auto.ph4.ph5-l.pt4.cf
      .container.cf
        .galThumb.pa1.pa3-l.mb5-l.fl.db.w-100.w-60-ns.link.overflow-hidden
          .relative.galThumb-container.ml5-l
            a(href="#").galThumb-img.db.FlexEmbed.img-fill.relative
              .FlexEmbed-ratio.FlexEmbed-ratio--4by3.cover
              .FlexEmbed-content.tc
                img(src="img/kitchen.jpg")
            a(href="#").galThumb-desc.dn.dib-l.absolute.w-80.z-2.mb4.ml0.b0.link.orange
              article
                h3.f1.ttc.lh-solid.tracked-tight Modern Kithcen Set
                p ketkektekt ddede
                
        .galThumb.pa1.pa3-l.mb5-l.fl.db.w-100.w-40-ns.link.overflow-hidden.v-btm
          .relative.galThumb-container.ml5-l
            a(href="#").galThumb-img.db.FlexEmbed.img-fill.relative
              .FlexEmbed-ratio.FlexEmbed-ratio--4by3.cover
              .FlexEmbed-content.tc
                img(src="img/neon.jpg")
            a(href="#").galThumb-desc.dn.dib-l.absolute.w-80.z-2.mb4.ml0.b0.link.orange
              article
                h3.f1.ttc.lh-solid.tracked-tight Modern Kithcen Set
                p ketkektekt ddede
      .container.cf  
        .galThumb.pa1.pa3-l.mb5-l.fl.db.w-100.w-40-ns.link.overflow-hidden
          .relative.galThumb-container.ml5-l
            a(href="#").galThumb-img.db.FlexEmbed.img-fill.relative
              .FlexEmbed-ratio.FlexEmbed-ratio--4by3.cover
              .FlexEmbed-content.tc
                img(src="img/kitchen.jpg")
            a(href="#").galThumb-desc.dn.dib-l.absolute.w-80.z-2.mb4.ml0.b0.link.orange
              article
                h3.f1.ttc.lh-solid.tracked-tight Modern Kithcen Set
                p ketkektekt ddede
                
        .galThumb.pa1.pa3-l.mb5-l.fl.db.w-100.w-60-ns.link.overflow-hidden
          .relative.galThumb-container.ml5-l
            a(href="#").galThumb-img.db.FlexEmbed.img-fill.relative
              .FlexEmbed-ratio.FlexEmbed-ratio--4by3.cover
              .FlexEmbed-content.tc
                img(src="img/neon.jpg")
            a(href="#").galThumb-desc.dn.dib-l.absolute.w-80.z-2.mb4.ml0.b0.link.orange
              article
                h3.f1.ttc.lh-solid.tracked-tight Modern Kithcen Set
                p ketkektekt ddede
  
  section    
    .container.mh-auto.ph4.ph5-l.mb5.cf
      .dt.w-100
        .dtc.tl
          a(href="").dib.pv3.ph5.ttu.link.white.bg-black.b Previous
        .dtc.tr
          a(href="").dib.pv3.ph5.ttu.link.white.bg-black.b Next
  
    
