extends src/layout/default.jade
block content
  section
    .container.cf.mh-auto.relative.mb4.black-90.ph4.ph6-l.pt4.pt6-l
      h2.mb2.mb4-l.f2.f-headline-l.lh-solid.tracked-tight.tc.tl-l.foo Say Hallo.
      p.f5-l.ml7-l.measure-wide.lh-large.foo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .container.cf.mh-auto.relative.mb4.mb6-l.ph6-l
      .cf
        .dib-l.w-100.w-50-l.fl.foo
          form.pa3.pa5-l.bg-white.measure-wide
            ul
              li.mb3
                label
                  span.db.b Name
                  input.ba.b--black-80.input-reset.w-100.pa2(type="text")
              li.mb3
                label
                  span.db.b Email
                  input.ba.b--black-80.input-reset.w-100.pa2(type="email")
              li.mb3
                label
                  span.db.b Ne
                  input.ba.b--black-80.input-reset.w-100.pa2(type="")
              li.mb3
                label
                  span.db.b Your Messange
                  textarea.ba.b--black-80.input-reset.w-100.pa2
              li.tc.tl-l
                button.ph4.pv3.bg-black.white.b.ttu send messange
        .dib-l.w-100.w-50-l.fl.foo
          .contact.dt
            .dtc.vcard.ph4.pv5.v-mid.measure
              // img.mb2(src="logo.png")
              h4.mb2 ABSTRACT ADVERTISING
              ul
                li.mb2 Jalan A.H Nasution No.38 (Komplek Cucian Yon Zipur) Ujungberung Bandung
                li 
                  a.dib.black-80.link(href="tel:+6202275183669") (022) 751 83669
                li.mb2
                  a.dib.black-80.link(href="tel:+620227833809") (022) 783 3809
                li
                  a.dib.black-80.link(href="mailto:abstract.adv@gmail.com") abstract.adv@gmail.com
        // .dtc-l.w-100.w-50-l.fl.h-100.bg-red.relative
        //  .maps
        //    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9021.078703899671!2d107.69024870761918!3d-6.9118562513335515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68dd412c154f97%3A0x425c65e1643991a9!2sAbstract+Advertising!5e0!3m2!1sid!2sid!4v1473912526566" width="100%" height="640" frameborder="0" style="border:0" allowfullscreen></iframe>
      
    
      
