@import "suitcss-base";
@import "tachyons";
@import "suitcss-components-flex-embed";
@import "src/css/js-video.css";


*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'poppins', 'avenir next', 'avenir', 'century gothic', 'futura', 'arial', sans-serif;
  min-height: 100%;
  overflow-y: scroll;
  color: #444;
}

.sans {}

body {
  font-size: 87.5%;
  line-height: 1.5;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-800 {
  max-width: 800px;
}
.container {
  max-width: 1280px;
}

.f-small {
  font-size: 0.75rem;
}

.MainHeader {
  position: relative;
  left: 0;
  right: 0;
  z-index: 999;
}

.Hero {
  height: 95vh;
  width: 100%;
  background: black;
}


.bg-neon {
  background-image: url('../img/neon.jpg')
}
.bg-kitchen {
  background-image: url('../img/kitchen.jpg')
}

.t0 {
  top: 0;
}

.col-2 {
  columns: 2;
}

.vh-100 {
  min-height: 100vh;
}

img,
svg {
  vertical-align: middle;
}

.lh-large {
  line-height: 1.618;
}
