header.MainHeader.bg-white
  .ph3.ph6-l.pv2.pv3-l.ttu
    .dd.dt-ns.w-100
      .dd.dtc-ns.v-mid
        .logo.tc.tl-ns
          a(href="index.html")
            img(src="img/logo.png", alt="")
      .dd.dtc-ns.v-mid.w-auto
        nav.tc.tr-ns.f6.b
          a.dib.pv2.ph2.ph3-l.link.orange(href="adv.html") Advertising
          a.dib.pv2.ph2.ph3-l.link.orange(href="kitchen.html") Kitchenset
          a.dib.pv2.ph2.ph3-l.link.orange(href="contact.html") Contact
    
